.button
{
   background-color: rebeccapurple; /* Green */
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -250px;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   display: inline;
   font-size: 40px;
   width: 500px;
   height: 80px;
   border-radius: 45px;
}

.song
{
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: black;
    -webkit-appearance: none;
    background-color: #FF7F2A;
}

#play
{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#stop
{
    margin-left: 75%;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
    
#welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
    
.button:hover
{
   background-color: crimson;
   opacity: 0.5;
}

#audioP
{
    border: none;
    background-color: transparent; /*Make the background of the button dissappear*/
    color: transparent; /*Make text of button dissappear*/
    /*Cover the whole div*/
    width: 100%; 
    height: 100%;
    border: dotted 0.5px green; /*Delete later!*/
}

#audioS
{
    border: none;
    background-color: transparent; /*Make the background of the button dissappear*/
    color: transparent; /*Make text of button dissappear*/
    /*Cover the whole div*/
    width: 100%; 
    height: 100%;
    border: dotted 0.5px red; /*Delete later!*/
}

#audioS:hover
{
    background-color: crimson;
    opacity: 0.1;
}

#audioP:hover
{
    background-color: navy;
    opacity: 0.1;
}


#bg
{
    background: url('assets/hbd2.png') no-repeat center center fixed;
    top: 0;
    left: 0;
   	background-size: cover;
    -webkit-background-size: cover;
}

