.button
{
   background-color: rebeccapurple; /* Green */
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -250px;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   display: inline;
   font-size: 40px;
   width: 500px;
   height: 80px;
   border-radius: 45px;
}

.song
{
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: white;
}

#songs
{
    margin-top: 4.5cm;
    margin-left: 3.6cm;
}
    
#welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
    
.button:hover
{
   background-color: crimson;
   opacity: 0.5;
}

/*#audio
{
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -150px;
}*/

#hbd
{
    background-image: url('assets/hbd2.png');
    background-size: cover;
}

.name
{
    font-size: 15px;
    color: whitesmoke;
    font-family: cursive;
    font-style: italic;
    /*margin-top: 580px;*/
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 45px;
    border: dotted;
}

#w, #e, #n2
{
    left: 1.4cm;
    color: lightskyblue;
    border-color: #FFF6D5;
}

#h
{
    color: peachpuff;
    top: 115px;
    left: 90px;
    border-color: #FF5555;
}

#s
{
    color: yellow;
    top: 70px;
    left: 293px;
    border-color: #FF7F2A;
}

#i
{
    color: cadetblue;
    top: 20px;
    left: 490px;
    border-color: #FFE680;
}

#a
{
    color: mintcream;
    top: -70px;
    left: 18.95cm;
    border-color: #FF8080;
}

#n
{
    color: darkolivegreen;
    top: -5.5cm;
    left: 25.2cm;
    border-color: #FFE680;
}

#g
{
    top: -9.3cm;
    left: 31.7cm;
    border-color: #FF8080;
}

