.button
{
   background-color: rebeccapurple; /* Green */
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -250px;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   display: inline;
   font-size: 40px;
   width: 500px;
   height: 80px;
   border-radius: 45px;
}

.song
{
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: black;
    -webkit-appearance: none;
    background-color: #FF7F2A;
}

#songs
{
    border: dotted 1px;
    width: 78.2%;
    height: 23.5%;
    margin-left: 10.5%;
    margin-top: 27.7%;
    position: absolute;

}
    
#welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
    
.button:hover
{
   background-color: crimson;
   opacity: 0.5;
}

#audio
{
    border: none;
    background-color: transparent; /*Make the background of the button dissappear*/
    color: transparent; /*Make text of button dissappear*/
    /*Cover the whole div*/
    width: 100%; 
    height: 100%;
    border: dotted blue; /*Delete later!*/
}

#audio:hover
{
    background-color: crimson;
    opacity: 0.1;
}


html
{
    background: url('assets/hbd2.png') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

